*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: url('image/images.jpg');
    background-repeat: repeat;
    font-size: 10px;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    /*border: #18a3dd solid 3px;*/
    margin: 20px auto;
    width: 85vw;
    height: 95vh;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border: 6px solid #b006c7;
    border-radius: 15px 100px 15px 100px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.wrapper {
    margin: 0 auto;
}

.slider {
    display: flex;
    flex-direction: column;
    margin: 0 auto;  
    width: 75vw;
    height: 60vh;
}

.div-input {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 40%;
    /*height: 15vh;*/
}

.panel {
    order: 2;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto;
    /*
    margin: 0 50px;
    height: 20vh;
    */
}

.panel-text {
    display: flex;
    /*flex-basis: 40%;*/
    width: 75%;
    /*height: 15vh;*/
}

.flex-text {
    display: flex;
    width: 500%;
    /*gap: 100rem;
    width: 50rem;
    flex-basis: 100%;*/
    margin: 0 auto;
}

.flex-text > .text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*flex-basis: 100%;
    width: 50rem;*/
    padding: 0 50px ;
    /*margin: 0 auto;*/
    /*width: 100%;*/
    flex-grow: 1;
    flex-shrink: 0;
    /*margin: 20px auto;*/
    transition: all 800ms cubic-bezier(0.51, 0.27, 0.43, 0.79);
}

.text {
    /*width: 20vw;
    width: 50rem;
    flex-basis: 100%;
    height: 4rem;*/
    display: flex;
    align-items: center;
    font-family: Bradley Hand, cursive;
    color: #85e40a;
    font-size: 2rem;
}

/*

.text {
    margin: 10px;
    width: 50vw;
}
*/

.slides {
    margin: 0 auto;
    width: 100%;
}


.image__container {
    display: flex;
    gap: 50px;
    width: 500%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.image__container > .img__block {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

img {
    width: 50vw;
    /*height: 50%;*/
    height: 70vh;
    object-fit: contain;
    object-position: center center;
    margin: 20px auto;
}

.overflow {
    overflow: hidden;
}

input {
    position: absolute;
    left: -9999px;
}

label, a{ 
	cursor: pointer;
}


/*позиция изображения при активации переключателя*/
.panel:has(#item-1:checked) ~ .slides .image__container{
	margin-left: 0;
}

.panel:has(#item-1:checked) .flex-text .text {
	margin-left: 1%;
}

.panel:has(#item-2:checked) ~ .slides .image__container{
	margin-left: -100%;
}

.panel:has(#item-2:checked) .flex-text .text {
	margin-left: -17.5%;
}

.panel:has(#item-3:checked) ~ .slides .image__container{
	margin-left: -200%;
}

.panel:has(#item-3:checked) .flex-text .text {
	margin-left: -37%;
}

.panel:has(#item-4:checked) ~ .slides .image__container{
	margin-left: -300%;
}

.panel:has(#item-4:checked) .flex-text .text  {
	margin-left: -58%;
}

.panel:has(#item-5:checked) ~ .slides .image__container{
	margin-left: -400%;
}

.panel:has(#item-5:checked) .flex-text .text  {
	margin-left: -79%;
}

.label__controls { /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 30px;
	height: 30px;
	background: #bbb;
    margin: 20px;
}

.input__item:checked + .label__controls {
    background: #85e40a;
    border: #18a3dd 5px solid;
}

.slides .image__container{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.51, 0.27, 0.43, 0.79);
}

@media (max-width: 53rem) {
.panel {
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0 auto;
}

img {
height: 30vw;
margin: 0 auto;
}

.panel-text {
    width: 50rem;
    margin: auto;
}

.flex-text > .text {
    text-align: center;
    height: 10rem;
    flex-wrap: wrap;
    justify-content: center;
}

.text {
    text-align: center;
    margin: 0 auto;
}

.panel:has(#item-1:checked) .flex-text .text {
	margin-left: 2%;
}

.panel:has(#item-2:checked) .flex-text .text {
	margin-left: -34%;
}

.panel:has(#item-3:checked) .flex-text .text {
	margin-left: -75%;
}

.panel:has(#item-4:checked) .flex-text .text {
	margin-left: -117%;
}

.panel:has(#item-5:checked) .flex-text .text {
	margin-left: -159%;
}

}

@media (max-width: 30rem) {
.container {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
}