*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: gray;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
}

.slider {
    display: flex;
    flex-direction: column;
    margin: 0 auto;  
    width: 98vw;
    height: 85vh;
}

.div-input {
    display: block;
    /*height: 15vh;*/
}

.panel {
    order: 2;
    display: flex;
    justify-content: space-between;
    /*
    margin: 0 50px;
    height: 20vh;
    */
}

.text {
    margin-top: 10px;
}

.panel-text {
    /*width: 100px;*/
    display: block;
}

#Meme-1 {
    display: none;
}

#Meme-2 {
    display: none;
}

/*
.slides {
    width: 100vw;
    height: 75vh;
}
*/

.image__container {
    display: flex;
    gap: 50px;
    width: 500%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.image__container > .img__block {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

img {
    width: 600px;
    /*height: 50%;*/
    height: 75vh;
    object-fit: contain;
    object-position: center center;
    margin: 20px auto;
}

.overflow {
    /*width: 100vw;*/
    overflow: hidden;
}


input {
    position: absolute;
    left: -9999px;
}

label, a{ 
	cursor: pointer;
}


/*позиция изображения при активации переключателя*/
.panel:has(#item-1:checked) ~ .slides .image__container{
	margin-left: 0;
}

.panel:has(#item-2:checked) ~ .slides .image__container{
	margin-left: -100%;
}

.panel:has(#item-3:checked) ~ .slides .image__container{
	margin-left: -200%;
}

.panel:has(#item-4:checked) ~ .slides .image__container{
	margin-left: -300%;
}

.panel:has(#item-5:checked) ~ .slides .image__container{
	margin-left: -400%;
}

.label__controls { /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 30px;
	height: 30px;
	background: #bbb;
    margin: 20px;
}

.input__item:checked + .label__controls {
    background: #85e40a;
    border: #18a3dd 5px solid;
}

.slides .image__container{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.51, 0.27, 0.43, 0.79);
}
